<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="CapStone Project\public\main.css">
</head>
<body>
    <!-- header.ejs -->
    <img src="images/IMG_20210817_181533.jpg" alt="" srcset="jpg">
        <div class="header-div">
            <a class="page" href="/">Home</a>
            <a class="page" href="hyperLink/about.html" target="_blank">About</a>
            <a class="page" href="hyperLink/contact.html" target="_blank">Contact</a>
            <a class="page" href="hyperLink/Resume.pdf" target="_blank">CV</a>
            

        </div>

</body>
</html>